---
layout: default
format: blog-index
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->


{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}
<!-- ########## headline items ############ -->
<div class="row t30">
	<div class="medium-12 columns">
<!--  #################
    img src="{{ site.urlimg }}Thi Ca Su Viet thu phap.png" style="margin: 7px 15px 0px 0px; max-width: 50%; padding: 0px;"
    <p>
    <h2 class="font-size-h3 t10"><font style="color: #ff0000;">&rarr;</font>Youth Cultural Education Day<font style="color: #ff0000;">&larr;</font></h2>
    Develop an understanding and awareness of the history and culture of Vietnam through arts and cultural activities (<a href="{{ site.baseurl }}/events/Youth-Cultural-Education-Day/"><em>Please click <u>here</u> for further details</em></a>).</p>
    <p>
      <h2 class="font-size-h3 t10"><font style="color: #ff0000;">&rarr;</font>Vietnamese Zither (Đàn Tranh) Class<font style="color: #ff0000;">&larr;</font></h2>
      <a href="{{ site.baseurl }}{{ site.projectname }}/programs/viet-zither-class/"><em>Please click <u>here</u></em> for more information</a>
    </p>
################## -->
    <p>
      <!-- <h2 class="font-size-h3 t10"><font style="color: #ff0000;">&rarr;</font>Summer Program &mdash; Info & Registration<font style="color: #ff0000;">&larr;</font></h2> -->
      <h2 class="font-size-h3 t10"><img src="images/animated-arrow-image-0103.gif" border="0" alt="animated-arrow-image-0103"/> Vietnamese Language Program 2017-2018 &mdash; Info & Registration</h2>
      <a href="{{ site.baseurl }}{{ site.projectname }}/programs/vietnamese-language-class-registration/"><em><u>Read more ...</u></em></a>
    </p>
<!-- #################### -->
	</div>
</div>
<!-- ########## end headline items ############ -->
<div class="row">
	{% if page.widget1.title %}
		{% include frontpage-widget widget=page.widget1 %}
	{% endif %}


	{% if page.widget2.title %}
		{% include frontpage-widget widget=page.widget2 %}
	{% endif %}


	{% if page.widget3.title %}
		{% include frontpage-widget widget=page.widget3 %}
	{% endif %}
</div><!-- /.row -->


{% comment %}
*
* First check, if there are any posts at all
*
{% endcomment %}

<div class="row t60 b60">
        <div class="small-12 columns">
		<h1>Lễ Phát Thưởng (Award Ceremony) 2017</h1>
		<p><a href="{{ site.url }}/events/Academic-Excellence-Awards-2017/" title="Award Ceremony 2017"><img src="{{ site.url }}/images/award-ribbon-thumb.jpg" class="alignleft" width="200" height="auto" style="border: 1px solid #cccccc" solid #cccccc" alt="Award Ceremony 2017"></a>
		Đơn Ghi Danh có thể lấy từ trang www.aucocenter.org, gởi e-mail đến auco@aucocenter.org để yêu cầu, hoặc lấy trực tiếp tại Trung tâm Âu Cơ, 350 Girard Street, từ 10-12:30 vào mỗi thứ bảy. Hạn chót gởi hồ sơ Ghi Danh và Đơn xin Học bổng cho học sinh lớp 12 theo dấu bưu điện là ngày 6 tháng 5 năm 2017.  Xin gởi về:  Au Co Center - P.O. Box 347042 - San Francisco, CA  94134-7042.<br /><a href="{{ site.url }}/events/Academic-Excellence-Awards-2017/"><u>Read more ...</u></a><br />
</p>
<br />
        </div><!-- /.small-12.columns -->
</div><!-- /.row -->

<div class="row t60 b60">
        <div class="small-12 columns">
        <h1>42 Years of Vietnamese Refugee Resettlement</h1>
        <p><img width="134" height="auto" style="border: 1px solid #cccccc;" src="{{ site.baseurl }}/images/42-Years-Refugee.jpg" class="alignleft">
        This public cultural event will feature an exhibition and program to mark the 42nd anniversary of the Vietnamese diaspora and refugee resettlement. This exhibition shares the refugee experience and celebrates the achievements of the Vietnamese people worldwide through photography, first-person narratives, and historical artifacts.<br /><a href="{{ site.url }}/events/42-Years-Viet-Refugee/"><u>Read more ...</u></a></p>
        </div><!-- /.small-12.columns -->
</div><!-- /.row -->

<div class="row t60 b60">
        <div class="small-12 columns">
		<h1>Thi Ca & Sử Việt 5</h1>
		<p><img width="134" height="auto" style="border: 1px solid #cccccc;" src="{{ site.baseurl }}/images/Thi-Ca-Su-Viet-5-2017.jpg" class="alignleft">
		Join us for a day of cultural appreciation through music and arts presented by the Au Co Vietnamese Cultural Center and Auco Productions. This rich program will include singing, dancing,folk opera excerpts, and musical performances. <span style="color: #C70216; font-weight: bold;">Tickets for this event can be purchased here:</span> <a href="http://www.brownpapertickets.com/event/2813002" target="_blank">http://www...event/2813002.</a><br /><a href="{{ site.url }}/events/Thi-Ca-Su-Viet-5/"><u>Read more ...</u></a></p>
        </div><!-- /.small-12.columns -->
</div><!-- /.row -->

{% unless site.posts == empty %}
    <div class="row b20 homepage">
        <div class="small-12 columns">
	    <hr>
            {% for post in site.posts limit:1 %}
            {% if post.image.homepage %}
            <p>
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="{{ post.title | escape_once }}"><img width="970" src="{{ site.urlimg }}{{ post.image.homepage }}" alt="{{ page.title | escape_once }}"></a>
            </p>

            {% if post.image.caption_url and post.image.caption %}
            <p class="text-right caption">
                <a href="{{ post.image.caption_url }}">{{ post.image.caption }}</a>
            </p>
            {% endif %}
            {% else post.image.homepage == NULL %}
            <h2>{{ site.data.language.new_blog_entries }}</h2>
            {% endif %}
            {% endfor %}
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->


    <div class="row">
        <div class="medium-6 columns">
            {% for post in site.posts limit:5 %}
            {% if post.subheadline %}<p class="subheadline">{{ post.subheadline }}</p>{% endif %}
            <h2><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            <p>
                {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% else post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="Read {{ post.title | escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a>
            </p>
            {% endfor %}
        </div><!-- /.medium-5.columns -->


        <div class="medium-6 columns">
            <p><strong>{{ site.data.language.more_articles }}</strong></p>
            {% include list-posts entries='20' offset='5' %}
        </div><!-- /.medium-7.columns -->
    </div><!-- /.row -->
{% endunless %}


{% comment %}
*
* Finally, if there is content, spit it out.
*
{% endcomment %}

<div class="row">
    {{ content }}
</div><!-- /.row -->
